<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938215487051-hpaoihr1i7765f6l72hmih1an08o6i4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938215487051-hpaoihr1i7765f6l72hmih1an08o6i4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAMwObSCYSOfbcyqavpVI9KS6nsiL1_hrA</string>
	<key>GCM_SENDER_ID</key>
	<string>938215487051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ly.hoang.quang.DemoSocialLogin</string>
	<key>PROJECT_ID</key>
	<string>testsignin-1560239217436</string>
	<key>STORAGE_BUCKET</key>
	<string>testsignin-1560239217436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938215487051:ios:da0e4bdc7ee50c9f</string>
	<key>DATABASE_URL</key>
	<string>https://testsignin-1560239217436.firebaseio.com</string>
</dict>
</plist>